{% extends 'base.html' %}

{% block title %}
    HomePage
{% endblock %}


{% block styles %}

{% endblock %}


{% block content %}
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-16">
        <div class="flex flex-col md:flex-row items-center justify-between">
        <div class="w-full md:w-1/2 md:order-2 mb-7 md:mb-0">
            <img src="{{ url_for('static', filename='images/hero.png') }}" alt="Hero Image" class="w-full rounded-md">
        </div>
        <div class="w-full text-center md:w-1/2 md:order-1 md:text-left">
            <h1 class="text-2xl md:text-4xl font-bold mb-6 ">Welcome to, Analytica</h1>



            <p class="text-gray-700 mb-8">
                Dive into the exciting and colorful World of Analytica! We're here to transform how you perceive product reviews on Amazon.
            </p>
            <form id="myForm" class="flex flex-col md:flex-row items-center" method="post">
                {{ form.hidden_tag() }}
                <!-- <input type="text" placeholder="Enter your email" class="border border-gray-400 py-2 px-4 rounded-md mb-4 md:mb-0 md:rounded-l-md focus:outline-none focus:ring-2 focus:ring-indigo-600"> -->
                <!-- <button class="bg-indigo-600 text-white py-2 px-4 rounded-md md:rounded-r-md hover:bg-indigo-500 md:ml-2">Submit</button> -->

                {{ form.product_url_or_code(class="border border-gray-400 py-2 px-4 rounded-md mb-4 md:mb-0 md:rounded-l-md focus:outline-none focus:ring-2 focus:ring-indigo-600", placeholder='Product URL or ID') }}
                {{ form.submit(class="bg-indigo-600 text-white py-2 px-4 rounded-md md:rounded-r-md hover:bg-indigo-500 md:ml-2") }}

            </form>
        </div>
        </div>
    </div>

    <div id="loadingSpinner" class="hidden fixed top-0 left-0 w-full h-full flex items-center justify-center bg-gray-900 bg-opacity-50">
        <div class="text-center">
            <div class="animate-spin rounded-full h-32 w-32 border-t-2 border-b-2 border-blue-500"></div>
            <p class="mt-4 text-white">Loading data...</p>
        </div>
    </div>

    <script>
        document.getElementById('myForm').addEventListener('submit', function(e) {
            document.getElementById('loadingSpinner').classList.remove('hidden');
        });
    </script>

{% endblock %}