<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the home page</h1>
    <form method="post">
        {{ form.csrf_token }}
        {{ form.product_url_or_code.label }} {{ form.product_url_or_code(size=32) }}
        {% for error in form.product_url_or_code.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
        {{ form.submit() }}
    </form>
    
</body>
</html>